/* This is just an example for using scss*/
// TODO: remove if unnecessary
.canvas-container {
  min-height: 600px;
  min-width: 600px;

  height: 80vh;
  width: 80vw;

  margin: 0 auto; // Horizontal align center
}
