header.svelte-gwuyw6{text-align:center}.scoreboard.svelte-gwuyw6{display:flex;justify-content:space-around}#bot.svelte-gwuyw6{text-align:right}
figure.svelte-g2iabk{text-align:center;margin:0 auto}figure.svelte-g2iabk{margin:0 0 1em 0}img.svelte-g2iabk{width:100%;max-width:400px;margin:0 0 1em 0}
